<!DOCTYPE html>
<html lang="en">
<head>
  <title>Evernote with Google Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA1l3GrctMRBhHg7V1htQvP_3_b5jggUuY&sensor=false"></script>
  <script type="text/javascript">

    var map;
    var geocoder;
    var loc;
    var selectedNote = null;

    function initialize() {

      geocoder = new google.maps.Geocoder();
      var mapOptions = {
        center: new google.maps.LatLng(39.908715, 116.3973889),
        zoom: 14
      };

      var mapDiv = document.getElementById("map-canvas");
      map = new google.maps.Map(mapDiv, mapOptions);
      
      $.ajax({
        url: "/latest_five_notes",
        success: function(data) {
          var notes = data.notes;
          var htmlCodes = [];
          for(var i = 0; i < notes.length; i++) {
            var note = notes[i];
            htmlCodes.push('<a href="#" onclick="javascript:selectNote(this)" class="list-group-item" id="' + note.guid + '">' + 
              note.title + '</a>');
          }

          var notesContainer = document.getElementById("note-list");
          notesContainer.innerHTML = htmlCodes.join("");
        },
        dataType: "json"
      })
    }

    function selectNote(note) {
      if(selectedNote != note) {
        if(selectedNote != null) {
          selectedNote.classList.remove("active");
        }
        selectedNote = note;
        selectedNote.classList.add("active");
      }
    }

    function codeAddress() {
      var address = document.getElementById("address").value;
      geocoder.geocode( { "address": address}, function(results, status){
        if(status == google.maps.GeocoderStatus.OK) {
          loc = results[0].geometry.location;
          map.setCenter(loc);
          console.log(JSON.stringify(loc))
          var marker = new google.maps.Marker({
            map: map,
            position: loc 
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }

    function save() {
      var url, requestData;
      var latLng = loc.nb + "," + loc.ob;

      if(selectedNote == null) {
        var noteName = document.getElementById("new-note-name").value;
        url = "/save";
        requestData = {
          note_name: encodeURIComponent(noteName),
          location: latLng
        }
      } else {
        url = "/update";
        requestData = {
          guid: selectedNote.id,
          location: latLng
        }
      }

      $.ajax({
        url: url,
        data: requestData,
        success: function(data) {
          alert(JSON.stringify(data));
        }
      });
    }

    function resetSelectedNote() {
      if(selectedNote != null) {
        selectedNote.classList.remove("active");
        selectedNote = null;
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <style type="text/css">
    #map-canvas {
      height: 450px;
      width: 50%;
    }
    #create-button {
      margin-top: 8px;
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <h4></h4>
    </div>
    <div class="row">
      <div class="col-md-8" id="map-canvas"></div>
      <div class="col-md-4">
        <h4>Find a location</h4>
        <div class="input-group">
          <input type="text" id="address" placeholder="Street Address" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="codeAddress()">Search</button>
          </span>
        </div>
        <div>
          <h4>Choose a note</h4>
          <div class="list-group" id="note-list"></div>
          <h4>Or create a new one</h4>
          <input type="text" onfocus="resetSelectedNote()" placeholder="New note name" id="new-note-name" class="form-control">
        </div>
        <div>
          <button type="button" onclick="save()" class="btn btn-primary" id="create-button">Attach this map to your note</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
