<!DOCTYPE html>
<html lang="en">
<head>
  <title>Evernote with Google Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.css">
  <script src="http://use.typekit.net/gis6vng.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA1l3GrctMRBhHg7V1htQvP_3_b5jggUuY&sensor=false"></script>
  <script type="text/javascript">
    try { Typekit.load(); } catch (e) {}

    var map;
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(39.908715, 116.3973889),
        zoom: 14
      };

      var mapDiv = document.getElementById("map-canvas");
      map = new google.maps.Map(mapDiv, mapOptions);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <style type="text/css">

    #map-canvas {
      height: 100%;
    }

    #layout {
      padding-left: 360px;
      position: relative;
      height: 100%;
    }

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 360px;
      margin-left: -360px;
      background-color: rgb(24, 33, 61);
      color: #fff;
    }

    .header {
      margin: 50% 2em 0;
      text-align: right;
    }

    .brand-title,
    .brand-tagline {
      margin: 0;
    }

    .brand-title {
      text-transform: uppercase;
    }
    .brand-tagline {
      font-weight: 300;
      color: rgb(142, 142, 214);
    }

    .content {
      height: 100%;
    }

    body {
      height: 100%;
    }

    html {
      height: 100%;
    }

    .pure-u-1 {
      height: 100%;
    }

    #address {
      height: 1.82em;
      width: 400px;
    }

    #search-bar {
      position: fixed;
      top: 25px;
      left: 450px;
    }
  </style>
</head>
<body>
  <div class="pure-g" id="layout">
    <div class="sidebar pure-u">
      <div class="header">
        <h1 class="brand-title">Map Note</h1>
        <h2 class="brand-tagline">Evernote with Google Map</h2>
      </div>
    </div>
    <div class="pure-u-1">
      <div class="content">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
  <div id="search-bar">
    <input id="address" placeholder="Enter your location" type="text">
    <button type="submit" class="pure-button pure-button-primary">
      <i class="icon-search"></i>
    </button>
    <button type="submit" class="pure-button pure-button-primary">
      <i class="icon-save"></i>
    </button>
  </div>
</body>
</html>
